body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    
}

.card {
    width: 10vh;
    height: 10vh;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    cursor: pointer;
}

.card.flipped {
    background-color: #fff;
}

#btn {
    margin-top:40px;
    display:none;
}

button {
    font-size:3vh;
}

@media (max-width: 1200px){
    .card {
        width: 10vh;
        height: 10vh;
    }
}
