body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
}

.card {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.card.flipped {
    background-color: #fff;
}

#btn {
    margin-top:40px;
    display:none;
}

@media (max-width: 1200px){
    .card {
        width:100%;
        height:100px;
    }
    #game-board {
        max-width:100%;
        grid-template-columns: repeat(4, 100px);
        
    }
}
